
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-timeGridWeek-view .fc-view fc-timegrid{
height: 250px;
}
.cl-internal-b3fm6y {
  display: none;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* .navbar_with_image {
  background-image: url("/assets/images/Main_homepage.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh; */
/* } */
.navbar {
  opacity: 1 !important;
  width: 100%;
  height: 100vh;
}
.navbar_with_image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.navbar_with_image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/assets/images/Main_homepage.jpg") center/cover;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
}

.navbar_with_image > * {
  z-index: 1;
  opacity: 1 !important;
}
.navbar_with_image section {
  opacity: 1 !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.homepage_card {
  box-shadow: -10px 11px 15px -11px rgba(0, 0, 0, 0.49);
  border-radius: 1rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

/* .services_cant_provide {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 1 !important;
}

.services_cant_provide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/assets/images/cantProvide.jpeg") center/cover;
  opacity: 0.5;
  width: 100%;
  height: auto;
}

.services_cant_provide > * {
  z-index: 1;
  opacity: 1 !important;
} */


/* Onboarding*/
.ob_main{
  background-color: rgb(97, 173, 194);
  height: 100%;
  margin-top: 40px;
  border-radius: 20px;
  border: 0.3px solid black;
}
.ob_main h1{
  font-size: 40px;
}
.ob_main p{
  font-size: 25px;
}
/*onboarding form*/
.ob_form_image Image{
border: 1px solid black;
}
.ob_form input{
border: 1px solid black;
height: 45px;
}
.ob_form textarea{
border: 1px solid black;
height: 70px;

}
.ob_form label{
font-size: 20px;

}
.ob_form button{
  font-size: 22px;
  border: 2px solid black;
  padding: 10px;
  width: 30vh;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}
.ob_form button:hover{
  border: 2px solid white;
}

/* patient dashboard*/


/*doctor filter*/
.df_form select{
  background-color: rgb(255, 255, 255);
  width: 150vh;
  height: 7vh;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  border-bottom: black 1px solid;

  
}
.df_form button{
  margin-left: 50px;
  border-bottom: 2px solid black;
  height: 7vh;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
}
.df_form button:hover{
  border-radius: 15px;
  background-color: rgb(114, 114, 114);
  color: white;
}
.df_formContainer {
  display: flex;
  
}

/*display doctor cards*/
.dd_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 0.5rem; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.dd_cards img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
 
}

.dd_cards h5 {
  color: #1a202c; 
 
}
.dd_cards svg {
  fill: #fbbf24; 
}

.dd_cards p {
  color: #4a5568; 
  margin-bottom: 1rem; 
}


.dd_cards a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;

  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.btn_booknow{
margin-left: auto;
margin-right: auto;
  background-color: rgb(82 186 213);
  border: 0.5px solid black;

}
.btn_booknow a:hover{
  display: inline;
  background-color: rgb(72, 167, 191);
}

/* doctor detail*/
.container {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f4f6; 
  padding: 2rem;
}
.container h1{
  color: black;
}

.doc_det_container {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: fit-content;
  display: flex;
  
}

.doc_det_container img {
  width: fit-content;
  height: auto;
  flex:40%;
}

.doctor_info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
}

.doctor_info p {
  font-size: 1.25rem;
  color: #4b5563;
}
.doctor_info_btn {
  font-size: 1.25rem;
  padding: 10px;
  width: 100%;
  background-color: rgb(82 186 213);
  border: 0.5px solid black;
  border-radius: 15px;
}
.doctor_info_btn:hover{
 
  background-color: rgb(70, 160, 183);
  
}
.doctor_info {
 flex: 60%;
 margin-left: 150px;
 background-color: #ffffff;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 border-radius: 0.5rem;
 height: fit-content;
 width: 400px;
 padding: 50px;
}

/* calender*/
.cal_appt {
  color: black;

}
.cal_appt td{
  
  border: 1px solid black;

}

.cal_appt th{
  color: black;
  background-color: #ffffff;
  border: 1px solid black;

}
th:hover
 {
  background-color: #4a5568;
   color:#000; 
}

.cal_allday{
  text-transform: capitalize;
  color: red;
}
